
<div>
  <div class="modal fade" id="followingsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="followingsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Following</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-column gap-3" >
                        <% current_user.followings.each do |following| %>
                            <%= render "users/following", following: following %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>  
  </div>
</div>

<div>
    <div class="modal fade" id="followersModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Followers</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-column gap-3" >
                        <% current_user.followers.each do |followers| %>
                            <%= render "users/following", following: followers %>
                        <% end %>
                    </div>

                </div>
        </div>
        </div>
    </div>
</div>

<div><%= render 'posts/form', post: Post.new %></div>
 